@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../../fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'STIX Two Math';
    src: url('../../fonts/STIXTwoMath-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.inlinecode, .code, #main pre {
    font-family: 'JetBrains Mono', 'STIX Two Math', monospace;
}
